{% extends "base.html" %}
{% load comments %}

{% block title %}
{{ newsitem.title }}
{% endblock %}

{% block javascripts %}
     <script type="text/javascript">
       function disableReqdInputs(){
         var nameInput = document.getElementById('id_name');
         if (nameInput){
           nameInput.value = "{{ user.get_full_name }}";
           nameInput.readOnly=true;
         }
         var emailInput = document.getElementById('id_email');
         if (emailInput){
           emailInput.value = "{{ user.email }}";
           emailInput.readOnly=true;
         }
        // var urlInput = document.getElementById('id_url');
         //if (emailInput){
         //  urlInput.value = "{{ user.email }}";
         //  urlInput.readOnly=true;
         //}
       }

     </script>
{% endblock %}

{% block content %}
<h1>{{ newsitem.title }}</h1>
<p>Author: {{ newsitem.author.get_full_name }}</p>
<p>Date: {{ newsitem.date }}</p><br>
<p>{{ newsitem.text }}</p>

 {% get_comment_count for newsitem as total_comments %}
<p>Total comments: {{ total_comments }}.</p>

{% get_comment_list for newsitem as comment_list %}
{% for comment in comment_list %}
<p> {{ comment }} </p>
{% endfor %}

{% if user.is_authenticated %}
{% get_comment_form for newsitem as form %}
<form action="{% comment_form_target %}" method="POST">
    {{ form }}
    <input type="hidden" name="next" value="{{ path }}" />
    <p class="submit">
    <input type="submit" name="submit" class="submit-post" value="Submit">
    </p>
</form>
{% endif %}
{% endblock %}